<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bookmark.title %>
</p>

<p>
  <b>Url:</b>
  <%= @bookmark.url %>
</p>

<p>
  <b>Tags:</b>
  <%= @bookmark.tags %>
</p>

<p>
  <b>Notes:</b>
  <%= @bookmark.notes %>
</p>

<p>
  <b>User:</b>
  <%= @bookmark.user %>
</p>


<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
